{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do cliente</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Cadastro do Cliente</h1>
    </header>

    <main>
        <section>
            {% if sucesso %}
                <div class="mensagem-sucesso">
                    <p>Cliente cadastrado com sucesso!</p>
                </div>
            {% endif %}
            
            <form method="POST">
                {% csrf_token %}
                <div class="campo">
                    <label for="p1">Nome:</label>
                    <input type="text" id="p1" name="nome" placeholder="Digite seu nome aqui">
                </div>
                <div class="campo">
                    <label for="p2">CPF:</label>
                    <input type="text" id="p2" name="cpf" placeholder="Digite seu CPF aqui">
                </div>
                <div class="campo">
                    <label for="p3">Telefone:</label>
                    <input type="text" id="p3" name="telefone" placeholder="Digite seu telefone aqui">
                </div>

                <button class="botao_cadastrar" type="submit">Cadastrar</button>
            </form>
        </section>
    </main>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar à página inicial.
        </a>
    </footer>
</body>
</html>
