{% load static %}
<link rel="stylesheet" href="{% static 'vendas/style.css' %}">


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do cliente</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Cadastro do Cliente</h1>
    </header>
    <!--Campo de preenchimento-->
    <main>
        <section>
            <form>
                <div class="campo">
                    <label for="p1">Nome:</label>
                    <input type="text" id="p1" name="pergunta1" placeholder="Digite seu nome aqui">
                </div>
                <div class="campo">
                    <label for="p2">CPF:</label>
                    <input type="text" id="p2" name="pergunta2" placeholder="Digite seu CPF aqui">
                </div>
                <div class="campo">
                    <label for="p3">Telefone:</label>
                    <input type="text" id="p3" name="pergunta3" placeholder="Digite seu telefone aqui">
                </div>
            </form>
        </section>
    </main>

    <button class="botao_cadastrar">Cadastrar</button>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar a pagina inicial.
        </a>
    </footer>

</body>
</html>