{% load static %}
<link rel="stylesheet" href="{% static 'vendas/style.css' %}">


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro do produto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Registrar novo produto</h1>
    </header>
    <main>
        <section>
            <form>
                <div class="campo">
                    <label for="p7">Nome do produto:</label>
                    <input type="text" id="p7" name="pergunta7" placeholder="Digite o nome do produto aqui">
                </div>
                <div class="campo">
                    <label for="p8">Nome do fornecedor:</label>
                    <input type="text" id="p8" name="pergunta8" placeholder="Digite o id do fornecedor">
                </div>
                <div class="campo">
                    <label for="p9">Estoque:</label>
                    <input type="text" id="p9" name="pergunta9" placeholder="Digite a quantidade no estoque">
                </div>
                <div class="campo">
                    <label for="p10">Preço:</label>
                    <input type="text" id="p10" name="pergunta10" placeholder="Digite o preço do produto">
                </div>
            </form>
        </section>
    </main>

    <button class="botao_cadastrar">Registrar</button>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar a pagina inicial.
        </a>
    </footer>
    
</body>
</html>