{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar novo pedido</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Criar novo pedido</h1>
    </header>

    <main>
        <section>
            {% if sucesso %}
                <div class="mensagem-sucesso">
                    <p>Pedido criado com sucesso! Redirecionando para adicionar produtos...</p>
                </div>
                <script>
                    setTimeout(function() {
                        window.location.href = "{% url 'adicionar_itens' id_pedido %}";
                    }, 2000);
                </script>
            {% endif %}

            {% if not sucesso %}
            <form method="POST">
                {% csrf_token %}

                <div class="campo">
                    <label for="p11">Escolha o cliente:</label>
                    <select name="id_cliente" id="p11">
                        {% for cliente in clientes %}
                            <option value="{{ cliente.nome }}">{{ cliente.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="campo">
                    <label for="p12">Data do pedido:</label>
                    <input type="date" id="p12" name="data_pedido" required>
                </div>

                <button class="botao_cadastrar" type="submit">Criar Pedido</button>
            </form>
            {% endif %}
        </section>
    </main>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar à página inicial.
        </a>
    </footer>
</body>
</html>
