{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro do produto</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Registrar novo produto</h1>
    </header>
    <main>
        <section>
            {% if sucesso %}
                <div class="mensagem-sucesso">
                    <p>Produto cadastrado com sucesso!</p>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="campo">
                    <label for="p7">Nome do produto:</label>
                    <input type="text" id="p7" name="nome_produto" placeholder="Digite o nome do produto aqui">
                </div>

                <div class="campo">
                    <label for="p8">Escolha o fornecedor:</label>
                    <select name="idfornecedor" id="p8">
                        {% for fornecedor in fornecedores %}
                            <option value="{{ fornecedor.id_fornecedor }}">{{ fornecedor.nome_fornecedor }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="campo">
                    <label for="p9">Estoque:</label>
                    <input type="number" id="p9" name="estoque" step="0.01" placeholder="Digite a quantidade no estoque">
                </div>

                <div class="campo">
                    <label for="p10">Preço:</label>
                    <input type="number" id="p10" name="preco" step="0.01" placeholder="Digite o preço do produto">
                </div>

                <button class="botao_cadastrar" type="submit">Registrar</button>
            </form>
        </section>
    </main>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar a pagina inicial.
        </a>
    </footer>
    
</body>
</html>