{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento</title>
    <link rel="stylesheet" href="{% static 'vendas/style.css' %}">
</head>
<body>
    <header>
        <h1>Cadastrar pagamento de um pedido</h1>
    </header>
    <main>
        <section>
            <form method='POST'>
                {% csrf_token %}
                <div class="campo">
                    <label for="p15">Numero do pedido (id):</label>
                    <select name="idpedido" id="p15">
                        {% for pedido in pedidos %}
                            <option value="{{ pedido }}">pedido</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="campo">
                    <label for="p17">Método de pagamento:</label><br>
                    <input type="radio" id="p17a" name="metodo_pagamento" value="Cartão de Crédito">
                    <label for="p17a">Cartão de Crédito</label><br>
                
                    <input type="radio" id="p17b" name="metodo_pagamento" value="PIX">
                    <label for="p17b">PIX</label><br>
                
                    <input type="radio" id="p17c" name="metodo_pagamento" value="Boleto">
                    <label for="p17c">Boleto</label><br>
                
                    <input type="radio" id="p17d" name="metodo_pagamento" value="Dinheiro">
                    <label for="p17d">Dinheiro</label><br>
                </div>
                
                <div class="campo">
                    <label for="p18">Status do pagamento:</label><br>
                    <input type="radio" id="p18a" name="status_pagamento" value="Pendente">
                    <label for="p18a">Pendente</label><br>
                
                    <input type="radio" id="p18b" name="status_pagamento" value="Pago">
                    <label for="p18b">Pago</label><br>
                
                    <input type="radio" id="p18c" name="status_pagamento" value="Cancelado">
                    <label for="p18c">Cancelado</label><br>
                </div>
                
                <div class="campo">
                    <label for="p19">Valor:</label>
                    <input type="text" id="p19" name="valor" placeholder="Digite o total do pedido">
                </div>
            </form>
        </section>
    </main>

    <button class="botao_cadastrar">Cadastrar</button>

    <footer>
        <a href="{% url 'index' %}" target="_self">
            Voltar a pagina inicial.
        </a>
    </footer>
    
</body>
</html>